﻿<div ng-controller="categoriesCtrl">
    <h1>categories</h1>
    <div id="categoriesGrid" style="margin-top:10px" class="container">
        <kendo-grid options="mainGridOptions">
            <div k-detail-template>
                <kendo-tabstrip>
                    <ul>
                        <li class="k-state-active">detail</li>
                    </ul>
                    <!--<div>
                        <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                    </div>-->
                    <div>
                        <ul class="contact-info-form">
                            <li><label>Id:</label>{{dataItem.CategoriesId}}
                            <li>
                            <li><label>Name:</label> {{dataItem.CategoriesName}}</li>
                            <li><label>Create Date</label> {{dataItem.CreateDate }}</li>
                            <li><label>Update Date</label> {{dataItem.EditDate }}</li>
                        </ul>
                    </div>
                </kendo-tabstrip>
            </div>
        </kendo-grid>
    </div>
    <script id="notificationSuccess" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; "> {{ngValue}} #= kValue # </p>
    </script>
    <script id="notificationFail" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; "> {{ngValue}} #= kValue # </p>
    </script>
    <span kendo-notification="notifySuccess" k-options="notifySuccessOptions"></span>
    <span kendo-notification="notifyFail" k-options="notifyFailOptions"></span>

    <div id="addCategoriesWindow" style="margin:auto">
        <div>
            <div kendo-window="winAddCategories" k-title="'Add New Categories'"
                 k-width="600" k-height="300" k-visible="false"
                 k-content="{ url: '../views/categories/add.html' }"
                 k-on-open="winAddCategoriesvisible = true" k-on-close="winAddCategoriesvisible = false"></div>

        </div>
    </div>
</div>
<style scoped>
    .contact-info-form {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
    }
    .contact-info-form li {
            margin: 10px 0;
        }
    .contact-info-form label {
            display: inline-block;
            width: 100px;
            text-align: right;
            font-weight: bold;
        }
</style>


