﻿<div ng-controller="postCtrl">
    <h1>post</h1>
    <div id="postGrid" style="margin-top:10px" class="container">
        <kendo-grid options="mainGridOptions">
            <div k-detail-template>
                <kendo-tabstrip>
                    <ul>
                        <li class="k-state-active">detail</li>
                    </ul>
                    <!--<div>
                        <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                    </div>-->
                    <div>
                        <ul class="contact-info-form">
                            <li><label>Post Id:</label>{{dataItem.PostId}}</li>
                            <li><label>Slug:</label> {{dataItem.Slug}}</li>
                            <li><label>Content:</label> {{dataItem.Content}}</li>
                            <li><label>CategoryId:</label> {{dataItem.CategoryId}}</li>
                            <li><label>Create Date</label> {{dataItem.CreateDate }}</li>
                            <li><label>Update Date</label> {{dataItem.EditDate }}</li>
                        </ul>
                    </div>
                </kendo-tabstrip>
            </div>
        </kendo-grid>
    </div>
    <script id="notificationSuccess" type="text/x-kendo-template">
        <p style="width: 16em; padding:1em;white-space:nowrap; background-color:chartreuse"> {{ngValue}}, #= kValue # </p>
    </script>
    <span kendo-notification="notifySuccess" k-options="notifySuccessOptions"></span>

    <div id="addpostWindow" style="margin:auto">
        <div>
            <div kendo-window="winAddPost" k-title="'Add New Post'"
                 k-width="1200" k-height="600" k-visible="false"
                 k-content="{ url: '../views/post/add.html' }"
                 k-on-open="winAddpostvisible = true" k-on-close="winAddpostvisible = false"></div>

        </div>
    </div>
</div>
<style scoped>
    .contact-info-form {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
    }

        .contact-info-form li {
            margin: 10px 0;
        }

        .contact-info-form label {
            display: inline-block;
            width: 100px;
            text-align: right;
            font-weight: bold;
        }
</style>


