﻿@inherits ViewPage
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="helloApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="helloApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="helloApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS App</title>
    <base href="/" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--build: kendoui css-->
    @*<base href="https://demos.telerik.com/kendo-ui/grid/angular">*@
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.default-v2.min.css" />
    <!-- endbuild: kendouiCss-->
    <!--htmlbuild:bootstrapCss -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <!-- endbuild -->
    <!--build:css /css/app.min.css-->
    <link rel="stylesheet" href="/css/app.css" />
    <!-- endbuild -->
    <!-- htmlbuild:jqueryCdn -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <!-- endbuild -->
    <!-- htmlbuild:bootstrapJs -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->
    <!-- build:kendoJquery -->
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>
    <!-- endbuild -->
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation" ng-controller="navigationCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">AngularJS App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: IsRouteActive('/')}"><a href="/">Home</a></li>
                    <li ng-class="{ active: IsRouteActive('/categories')}"><a href="/categories">Categories</a></li>
                    <li ng-class="{ active: IsRouteActive('/post')}"><a href="/post">Post</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="win2.open()">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="#">Logout</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
        <div id="loginWindow" style="margin:auto">
            <div>
                <div kendo-window="win2" k-title="'Login'"
                     k-width="600" k-height="300" k-visible="false"
                     k-content="{ url: '../views/login/login.html' }"
                     k-on-open="win2visible = true" k-on-close="win2visible = false"></div>

            </div>
        </div>
    </div>

    <div class="container" ng-view></div>
    <!-- build:js /lib/js/angular.min.js -->
    @*<script src="/node_modules/angular/angular.js"></script>*@
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="~/js/utility.js"></script>
    <script src="~/js/service/share/commonSevices.js"></script>
    <!-- endbuild -->
    <!-- build:js servicesjs -->
    <script src="~/js/service/categoriesService.js"></script>
    <script src="~/js/service/postServices.js"></script>
    <!-- endbuild -->
    <!-- build:js /js/app.min.js -->
    <script src="~/js/controllers/navigation/controllers.js"></script>
    <script src="~/js/controllers/user/userControllers.js"></script>
    <script src="~/js/controllers/login/loginControllers.js"></script>
    <script src="~/js/controllers/register/registerControllers.js"></script>
    <script src="~/js/controllers/categories/categoriesControllers.js"></script>
    <script src="~/js/controllers/categories/addCategoriesController.js"></script>
    <script src="~/js/controllers/post/postControllers.js"></script>


    @*config app*@
    <script src="/js/app.js"></script>
</body>
</html>