﻿<div id="loginFrom">
    <div class="demo-section k-content" ng-controller="registerCtrl">
        <div id="tickets">
            <form kendo-validator="validator" ng-submit="validate($event)">
                <ul id="fieldlist">
                    <li>
                        <label for="fullname" class="required">Your Name</label>
                        <input type="text" id="fullname" name="fullname" class="k-textbox" placeholder="Full name" required validationMessage="Enter {0}" style="width: 220px;" />
                    </li>

                    <li>
                        <label for="tel" class="required">Password</label>
                        <input type="password" id="password" name="password" class="k-textbox" placeholder="Enter password" required
                               style="width: 220px;" />
                    </li>
                    <li>
                        <label for="tel" class="required">comfirm Password</label>
                        <input type="password" id="comfirmpassword" name="comfirmPassword" class="k-textbox" placeholder="Enter comfirm password" required
                               style="width: 220px;" />
                    </li>
                    <li class="confirm">
                        <button class="k-button k-primary" type="submit">Submit</button>
                    </li>

                    <li class="status {{ validationClass }}">{{ validationMessage }} </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    .confirm {
        padding-top: 1em;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    #fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 160px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }
</style>